.fact-container {
    display: flex;
    align-items: center;
  }
  
  .fact {
    /* padding: 5px; */
 
    border-radius: 10px;
    margin: 10px 0;
  }
  .header-dogs {
    background-color: #7289DA;
    color: white;
    padding: 0.6rem;
    text-align: center;
    margin-bottom: 0.6rem;
    margin-right: 1.25rem;
    cursor: pointer;
  }
  .timestamp {
    font-size: 12px;
    color: #999;
    white-space: nowrap;
  }
  